{% for host in groups['zen-nodes'] %}

{{ host }}:

Transparent Address: {{ hostvars[host]['zentransparent'] }}

Shield Address: {{ hostvars[host]['zenshield']}}

Current {{ hostvars[host]['zenblock']}}

Balance: {{ hostvars[host]['zenbalance']}}

{%endfor%}
